h1{
    color: gold;
    background: purple;
    text-align: center;
}
a.highlight:hover {
    color: #ff0000;
  }
.trivia{
    text-align: center;
    background: purple;
    padding: 50px;
}
.list-group:hover {
    background: blue;
  }
.submitbutton{
    background: white;
    text-align: center;
    padding: 50px;

}  
.lakerspic{
    width: 1200px;
    height: 750px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    border: 10px solid purple;
    align-content: center;
}
.accordion{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
h2{
    text-align: center;
    color: rebeccapurple;
    font-size: 40px;
}


p{
    text-align: center;
    font-size: 22px; 
}
footer{
    width: 1345px;
    height: 200px;
    border: 2px solid purple;
    margin: auto;
    padding: 0;
    margin-top: 50px;
}
a{
    color: gold;
}
